<section class="section about-us" id="about">
  <div class="container">
    <div class="heading">
      <h2 class="about-us-title">About <span class="highlight">Us</span></h2>
      <p class="about-us-text">
        We are dedicated to providing engaging and effective English language
        courses<br />
        in a supportive and stimulating learning environment
      </p>
    </div>

    <div class="grid">
      <div class="feature-grid">
        <article class="card">
          <div class="card__row">
            <h3 class="card__num">01</h3>
            <p class="card__text">Expert, innovative teaching staff</p>
          </div>
        </article>

        <article class="card">
          <div class="card__row">
            <h3 class="card__num">02</h3>
            <p class="card__text">
              Wide range of course levels<br />
              and options
            </p>
          </div>
        </article>

        <article class="card">
          <div class="card__row">
            <h3 class="card__num">03</h3>
            <p class="card__text">Multicultural learning environment</p>
          </div>
        </article>

        <article class="card">
          <div class="card__row">
            <h3 class="card__num">04</h3>
            <p class="card__text">
              Comprehensive language<br />
              support services
            </p>
          </div>
        </article>
      </div>
      <div class="illustration" aria-hidden="true">
        <img src="img/about/memoji.svg" alt="Friendly character illustration" />
      </div>
    </div>
  </div>
</section>
