<footer class="footer">
  <div class="container">
    <div class="wrap">
      <div class="footer-logo">
        <p class="logo">english<span class="accent">excellence</span>.</p>
        <address class="address">
          <p class="title-phone-email">Phone number:</p>
          <a class="phone-email" href="tel:+380(68)443-94-26">+380(68)443-94-26</a>
          <p class="title-phone-email">Address:</p>
          <a class="phone-email">32aM. Bazhana ave</a>
        </address>
      </div>
      <div class="footer-about-us-container">
        <ul class="footer-list">
          <li class="footer-item"><a class="link" href="#">About us</a></li>
          <li class="footer-item"><a class="link" href="#">Our lessons</a></li>
          <li class="footer-item"><a class="link" href="#">Teachers</a></li>
          <li class="footer-item"><a class="link" href="#">Reviews</a></li>
          <li class="footer-item"><a class="link" href="#">Contact us</a></li>
        </ul>
      </div>
      <div class="footer-soc-media">
        <ul class="footer-soc-media-list">
          <li>
            <a href=" https://www.instagram.com/goitclub/"><svg class="footer-soc-media-item" width="40" height="40">
                <use href="../public/sprite.svg#instagram">

                </use>
              </svg></a>

          </li>
          <li><a href="https://www.facebook.com/goITclub/">
              <svg class=" footer-soc-media-item" width="40" height="40">
                <use href="../public/sprite.svg#facebook">

                </use>
              </svg>
            </a>

          </li>
          <li>
            <a href="https://www.youtube.com/c/GoIT ">
              <svg class="footer-soc-media-item" width="40" height="40">
                <use href="../public/sprite.svg#youtube"></use>
              </svg>
            </a>

          </li>
        </ul>
      </div>
    </div>

    <div class="dec-line"></div>
    <div class="privacy-policy">
      <p class="footer-copy">&copy;2023 English Excellence. All rights reserved.</p>
      <a class="footer-link privacy">Privacy Policy</a>
      <a class="footer-link">Terams of Service</a>
    </div>
  </div>
</footer>