<header class="header">
  <div class="container">
    <nav class="site-nav">
      <a class="site-nav__logo" href="./index.html">
        english<span class="accent">excellence</span>.
      </a>
      <button id="burger-button" type="button" class="burger-button">
        <svg class="burger-icon" aria-label="burger menu icon">
          <use href="/img/icons/sprite.svg#Nav"></use>
        </svg>
      </button>
      <div class="backdrop is-hidden">
        <div class="side-menu" id="side-menu">
          <button id="close-button" type="button" class="close-button">
            <img
              src="/img/icons/x.svg"
              alt="close menu icon"
              class="close-icon"
            />
          </button>
          <ul class="site-nav__list">
            <li>
              <a class="site-nav-link" href="#about">About us</a>
            </li>
            <li>
              <a class="site-nav-link" href="#lessons">Our lessons</a>
            </li>
            <li>
              <a class="site-nav-link" href="#teachers">Teachers</a>
            </li>
            <li>
              <a class="site-nav-link" href="#reviews">Reviews</a>
            </li>
            <li>
              <a class="site-nav-link" href="#contact">Contact us</a>
            </li>
          </ul>
          <ul class="header_socials__list">
            <li>
              <a
                href="https://www.facebook.com/goITclub/"
                rel="noopener noreferrer"
                target="_blank"
                class="header_socials__link"
              >
                <svg
                  class="header_socials-icon"
                  aria-label="facebook icon"
                  width="44"
                  height="44"
                >
                  <use href="/img/icons/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/goitclub/"
                rel="noopener noreferrer"
                target="_blank"
                class="header_socials__link"
              >
                <svg
                  class="header_socials-icon"
                  aria-label="instagram icon"
                  width="44"
                  height="44"
                >
                  <use href="/img/icons/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/c/GoIT"
                rel="noopener noreferrer"
                target="_blank"
                class="header_socials__link"
              >
                <svg
                  class="header_socials-icon"
                  aria-label="youtube icon"
                  width="44"
                  height="44"
                >
                  <use href="/img/icons/sprite.svg#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
