<section class="section">
  <div class="container">
    <div
      class="hero"
      style="
        height: 709px;
        width: 100%;
        border-radius: 16px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: linear-gradient(
          -144deg,
          rgba(0, 0, 0, 0) 0%,
          /* прозорий початок */ rgba(0, 0, 0, 0.25) 60% /* чорний після 40% */
        );
      "
      ;
    >
      <h1 class="hero_title">
        Discover the joy of learning
        <span class="hero_title_style">English</span> with us!
      </h1>

      <a
        href="#leave_application"
        class="button hero-button"
        aria-label="Leave an application"
        title="Leave an application"
      >
        leave an application
      </a>
      <div class="icon icon-to-footer">
        <a href="#footer" aria-label="move to footer" title="move to footer">
          <svg>
            <use href="sprite.svg#fi-rr-angle-small-left"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
