<div class="info-backdrop is-hidden info-backdrop-id">
  <div class="info-modal transform-policy">
    <p class="info-modal-text-title">Privacy Policy</p>

    <button type="button" class="info-close-btn-id info-close-btn" title="close window">
      <!-- <img src="/img/icons/x.svg" alt="close menu icon" class="close-icon" /> -->
      <svg class="close-icon" aria-label="close menu icon">
        <use href="/img/icons/sprite.svg#close-menu"></use>
      </svg>
    </button>

    <div class="info-modal-text-container">
      <div>
        <ul class="info-modal-text-list list">
          <li class="info-modal-text-list-item">
            <p class="info-modal-text-list-item-data">
              Your privacy is important to us.
            </p>
            <p class="info-modal-text-list-item-data">
              This section outlines how we collect, use, process, and protect
              your personal data. This Privacy Policy applies to the use of our
              website, applications, and services, so please take a moment to
              read it.
            </p>
          </li>
          <li class="info-modal-text-list-item">
            <p class="info-modal-text-list-item-data">
              What personal data do we collect:
            </p>
            <p class="info-modal-text-list-item-data">
              We may collect various types of personal data that you voluntarily
              provide when interacting with our website, registering an account,
              placing an order, or filling out forms. This may include your
              name, email address, phone number, address, order information, and
              more.
            </p>
          </li>
          <li class="info-modal-text-list-item">
            <p class="info-modal-text-list-item-data">
              How we use your personal data:
            </p>
            <p class="info-modal-text-list-item-data">
              We use the collected personal data to provide services, manage
              your account, process orders, provide you with information about
              our products and services, and to communicate with you regarding
              inquiries and updates.
            </p>
          </li>
          <li class="info-modal-text-list-item">
            <p class="info-modal-text-list-item-data">
              Protection of personal data:
            </p>
            <p class="info-modal-text-list-item-data">
              We take every effort to protect your information and use modern
              technologies to prevent unauthorized access, loss, or disclosure
              of your personal information.
            </p>
          </li>
          <li class="info-modal-text-list-item">
            <p class="info-modal-text-list-item-data">
              Disclosure to third parties:
            </p>
            <p class="info-modal-text-list-item-data">
              We do not disclose your personal data to third parties without
              your consent, except when required by law or to provide the
              services you requested.
            </p>
          </li>
          <li class="info-modal-text-list-item">
            <p class="info-modal-text-list-item-data">
              Changes to the Privacy Policy:
            </p>
            <p class="info-modal-text-list-item-data">
              We may periodically update this Privacy Policy. Please refer to
              this page to stay informed about any changes.
            </p>
          </li>
          <li class="info-modal-text-list-item">
            <p class="info-modal-text-list-item-data">Contact us:</p>
            <p class="info-modal-text-list-item-data">
              If you have any questions or concerns regarding this Privacy
              Policy or your information, please contact us using the contact
              details provided on our website.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>