<section id="proposal" class="section proposal">
  <div class="container proposal-wrapper">
    <h2 class="proposal-header">
      Master the <span class="proposal-accent">Language</span> with Our English
      Package!
    </h2>
    <div class="proposal-first-card">
      <h3 class="proposal-header-h3">Power of English</h3>
      <ul class="proposal-list">
        <li class="proposal-list-item">
          <div class="proposal-icon-wrapper">
            <svg class="proposal-icon">
              <!-- !!!Temporary icon download icon and add to sprite -->
              <use href="/public/sprite.svg#fi-rr-angle-small-left"></use>
            </svg>
          </div>
          <p class="proposal-list-item-text">
            Dive into captivating lessons designed to stimulate your curiosity.
          </p>
        </li>
        <li class="proposal-list-item">
          <div class="proposal-icon-wrapper">
            <svg class="proposal-icon">
              <!-- !!!Temporary icon download icon and add to sprite -->
              <use href="/public/sprite.svg#fi-rr-angle-small-left"></use>
            </svg>
          </div>
          <p class="proposal-list-item-text">
            Learn in a nurturing setting where every student's progress matters.
          </p>
        </li>
        <li class="proposal-list-item">
          <div class="proposal-icon-wrapper">
            <svg class="proposal-icon">
              <!-- !!!Temporary icon download icon and add to sprite -->
              <use href="/public/sprite.svg#fi-rr-angle-small-left"></use>
            </svg>
          </div>
          <p class="proposal-list-item-text">
            Experience the satisfaction of real progress as your language skills
            and confidence grow with every session.
          </p>
        </li>
      </ul>
      <img src="" alt="Tall stack of books">
      <a class="proposal-link" href="#leave">Leave an application</a>
    </div>
    <div class="proposal-second-card"></div>
    <div class="proposal-third-card"></div>
  </div>
</section>