.container {
  margin-inline: auto;
}

.heading {
  text-align: center;
  margin-bottom: 40px;
}

.about-us .container {
  margin: 0 auto;
  position: relative;
}

.about-us-title {
  line-height: 1.13;
  text-align: center;
  color: var(--black);
  margin-bottom: 16px;
  position: relative;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -0.02em;
}

.about-us-title .highlight {
  position: relative;
  isolation: isolate;
}

.about-us-title .highlight::after {
  content: '';
  position: absolute;
  inset: auto 0 2px 0;
  height: 0.6em;
  background-color: var(--green-shade);
  border-radius: 8px;
  z-index: -1;
}

.about-us-text {
  font-weight: 400;
  text-align: center;
  color: var(--text-color-grey);
  margin: 0 auto 40px;
  max-width: 832px;
  font-size: 14px;
  line-height: 1.71;
}

.grid {
  display: grid;
  gap: 24px;
}

.feature-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card {
  background: var(--gray);
  border-radius: 30px;
  padding: 32px;
  box-shadow: 0 1px 0 0 var(--ring);
  width: 100%;
  min-height: 160px;
}

@media (min-width: 375px) {
  .card {
    min-width: 325px;
  }
}

.card__row {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
}

.card__num {
  color: var(--green);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.card__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.illustration {
  background: var(--green);
  border-radius: 30px;
  min-height: 313px;
  display: grid;
  place-items: center;
  padding: 24px;
}

.illustration img {
  max-height: 280px;
  width: auto;
  height: auto;
  display: block;
  object-fit: contain;
  filter: drop-shadow(0 12px 18px rgba(0, 0, 0, 0.2));
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

@media (min-width: 768px) {
  .feature-grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .heading {
    margin-bottom: 64px;
  }
  .card {
    padding: 32px;
  }
  .illustration {
    max-height: 243px;
    width: 100%;
  }
  .feature-grid {
    gap: 32px;
  }
  .grid {
    gap: 32px;
  }

  .about-us-title {
    line-height: 1.2;
    margin-bottom: 16px;
    font-size: 40px;
  }
}
.about-us-text {
  font-size: 18px;
  line-height: 167%;
}

@media (min-width: 1280px) {
  .about-us .container {
    max-width: 1024px;
    padding: 0;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }

  .card {
    padding: 32px;
  }

  .card__row {
    gap: 16px;
  }
  .card__num {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--green);
  }
  .card__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  .illustration {
    max-height: 352px;
  }

  .illustration img {
    max-height: 320px;
  }
}
