/* Styles for Mobile devices */
.section {
  padding-bottom: 80px;
}

.container {
  max-width: var(--breakpoint-mobile-max);
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .section {
    padding-bottom: 100px;
  }

  .container {
    max-width: var(--breakpoint-tablet);
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .section {
    padding-bottom: 150px;
  }

  .container {
    max-width: var(--breakpoint-desktop);
    padding-left: 64px;
    padding-right: 64px;
  }
}
